/*mobile first*/
* {
     font-family: "Roboto Mono"
}
/*backgrounds*/
.fondo1 {
    background: url("../img/fondomobile1.png");
}

#fondo2 {
    background: url("../img/fondo2.jpg");
}

/*pie de pag*/
footer{
    padding: 0.5em;
    margin: 1.3em;
    background-color: rgba(49, 2, 2, 0.829);
}
footer li {
    list-style-type: none;
  }
  
  footer a:visited,
  footer a:active {
    background-color: rgb(90, 38, 38);
    color: rgb(185, 185, 185);
  }
  
  footer a:hover{
    background-color: rgb(255, 0, 0);
    color: black;
  }
  
  footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .pie{
    margin: 0.5em;
    color: black;
}
/*encabezado*/
header{
    color: white;
}

.info{
    color:white;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(65, 3, 3, 0.952);
  }

.home{
    padding: 0.5em;
    margin: 1.5em;
    width: 300px;
    height: 300px;
}

section {
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(46, 44, 44, 0.658);
}


.titulos {
   background-color:  rgb(82, 6, 6);
   color: rgb(148, 146, 146);
   margin: 0.5em;
   text-align: center;
   padding: 0.2em;
}

.titulos2{
   background-color: rgba(36, 36, 36, 0.836) ;
   color: rgb(255, 255, 255);
   margin: 0.5em;
   text-align: center;
   padding: 0.2em;
}

.parrafos {
    padding: 0.3em;
    margin: 2em;
    color:rgb(255, 255, 255);
    text-align: left;
}


 p{
    color: white;
    margin: 0.5em;
 }

 .escuchar{
    color: rgb(131, 2, 2);
    background-color: black;
    display: inline;
 }

 .importante {
    background-color:  rgb(82, 6, 6);
 }
/*links*/
section p a {
    background-color: rgb(245, 147, 193);
    margin: 1em;
    color:black;
    padding: 0.4em;
 }

 header a {
    color:rgb(170, 166, 166);
 }
 
 header a:hover {
    color:rgb(0, 0, 0);
    background-color: red;
 }
/*imagenes*/
.img {
    height: 300px;
    width: 270px ;
    align-items: center;
    margin: 0.2em;
}

.albums {
    align-items: center;
    margin: 0.5em;
    text-align: center;
}

.foto{
    margin: 2em;
    height: 250px;
    width: 250px ;
}

.ft {
    margin: 2em;
}

/* Media querie para pantallas de al menos 480px (desktop)*/
@media (min-width: 480px) {

    .fondo1 {
        background: url("../img/fondo1.jpg");
    }
    
    #fondo2 {
        background: url("../img/fondo2.jpg");
    }

    .home {
        padding: 0.5em;
        margin: 1em;
        width: 500px;
        height: 500px;
    }

    .galeria{
        height: 500px;
        width: 600px;
        margin: 0.5em;
        padding: 0.5em;
    }
    .img{
        padding: 0.5em;
        margin: 1.5em;
    }

    .foto{
        margin: 2em;
        height: 280px;
        width: 280px ;
    }
    
    .columnas {
        flex-direction: column;
        align-items: center;
        padding: 1em;
        align-items: flex-start;
        text-align: center; 
        justify-content: space-between;
    }
    

}